body {
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div{
    max-width: 90vw;
}
p {
    color: beige;
    font-size: 20px;
    
}

h1 {
    color: violet;
    
    font-size: 20vmin;
}

img {
    max-block-size: 60vmin ;
}

button {
    color: Black;
    font-weight: 800;
    border-color: black;
    background-color: none;
}

button:hover {
    background-color: violet;
    color: beige;
    font-weight: 800;
    text-decoration: none;
    border-radius: 2rem;
}